# Renommer ce fichier en `secrets.yaml` et remplir avec tes vraies valeurs.
# NE JAMAIS commiter le vrai secrets.yaml dans git ou cloud public.

# Wi-Fi de la maison
wifi_ssid: "TonSSID"
wifi_password: "TonMotDePasseWifi"

# Mot de passe du point d'acces fallback ESPHome.
fallback_password: "REMPLACER_PAR_UN_MDP_FORT"

# Clé API ESPHome (n'importe quelle chaîne longue aléatoire)
# Pour en générer une : https://esphome.io/components/api.html#configuration-variables
api_key: "REMPLACER_PAR_UNE_CLE_BASE64_DE_32_OCTETS"

# Mot de passe OTA (choisi par toi, sert pour les futurs flashs sans fil)
ota_password: "REMPLACER_PAR_UN_MDP_FORT"

# Mot de passe MQTT (le même qu'on configurera côté broker / jMQTT)
mqtt_password: "REMPLACER_PAR_UN_MDP_FORT"
